.main-header{
  width: 1366px;
  margin: 0 0;
  font-family: 'Montserrat';
  position: absolute;
  display: flex;
  /* justify-content: space-between; */
}
.main-header-img{
  display: block;
  width: 185px;
  height: 22px;
  background-color: #f0f0f0;
  margin: 50px 0px 0px 70px;
}
.main-header-img:hover{
  box-shadow: 0 6px 4px -4px #212121; 
}
nav{
  margin: 0px 50px 0px 320px;
}
.menu-main {
  margin: 40px 0 0px;
}
.menu-main li {display: inline-block;}

.menu-main a {
  text-decoration: none;
  position: relative;
  margin: 0 20px 0 0px;
  display: inline-block;
  font-size: 14px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}
.menu-main-lupa{
  top: 10px;
  width: 24px;
  height: 24px;
  content: "";
  background-image: url(../img/search_224.png); 
  background-size: cover;
}
.menu-main a {color: #9d999d;}
.menu-main a.current, .menu-main a:hover{color: #212121;}
.menu-main a:before,
.menu-main a:after {
  content: "";
  position: absolute;
  height: 4px;
  top: 40px;
  right: 50%;
  left: 50%;
  background: #212121;
  transition: .8s;
}
.menu-main a:hover:before, .menu-main .current:before {left: 0;}
.menu-main a:hover:after, .menu-main .current:after {right: 0;}   

.main{
  width: 1366px;
  margin: 0 0;
  font-family: 'Montserrat';
}
.trending{
  background-image: url(../img/slider_img_201.png);
  background-size: cover;
}

.wraper-text{
  padding: 350px 0 50px 0;
  margin: 0px 0 0 70px
}
.main-text-gr {
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #43a047;
}
.main-text-big {
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
}
.main-text-com{
  margin: 0 0 20px 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}
.btn{
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px 20px 20px 20px;
  background: rgb(255, 255, 255); 
  box-shadow: 0 6px 4px -4px #212121; 
  padding: 10px 50px 10px 30px;
  text-decoration: none;
  position: relative;
}
.btn-arow{
  font-size: 18px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #212121;
}
.btn-arow::after {
  content:"";
  display: block;
  width: 10px;
  height: 15px;
  background-image: url(../img/arrow_205.png);
  background-size: cover;
  position: absolute;
  top: 29%;
  left: 80%;
} 
a.btn:hover:not(:active) {
  background: linear-gradient(rgb(255, 255, 255), #212121) rgb(126,126,134);
}
a.btn:active {
  top: 1px;
  background: linear-gradient(rgb(76,77,82), rgb(56,57,62)) rgb(76,77,82);
  box-shadow:
   0 0 1px rgba(0,0,0,.5) inset,
   0 2px 3px rgba(0,0,0,.5) inset,
   0 1px 1px rgba(255,255,255,.1);
}
.fut-scroll{
  margin: 150px 0 0 600px;
  padding: 0 0 30px 0;
}
.scroll{
  margin: 0 10px;
  padding: 10px 20px;
  border-radius: 50%;
  background: #c7c7c7; 
}
a.scroll:hover:not(:active) {
  background: linear-gradient(rgb(255, 255, 255), #212121) rgb(126,126,134);
}
.main-scroll{
  padding: 15px 25px;
  border-radius: 50%;
  background: #212121; 
}
.featured-navigation{
  display: flex;
  justify-content: space-between;
}
.featured-navigation-menu {
  list-style: none;
  margin: 100px 0 0px 70px;
  padding:0;
}
.featured-navigation-menu li {
  display: inline-block;
}

.featured-navigation-menu a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #6c6c6c;
  border-bottom:  1px solid #6c6c6c;
}
.featured-navigation-menu a.new{
  padding: 0 0 2px 0;
}
.featured-navigation-menu a.current{
  color: #212121;
  border-bottom:  3px solid #212121;
  padding: 0 20px 0 10px;
  left: 5px;
}
.featured-navigation-menu a.new:hover{
  color: #212121;
  border-bottom:  3px solid #212121;
  padding: 0 0 0px 0;
}
.explore-all{
text-decoration: none;
margin: 110px 90px 0px 0px;
position: relative;
display: inline-block;
font-size: 18px;
line-height: 24px;
font-weight: 700;
text-transform: uppercase;
letter-spacing: 0.2em;
color: #212121;
}
.explore-all::after {
  content:"";
  display: block;
  width: 10px;
  height: 15px;
  background-image: url(../img/arrow_205.png);
  background-size: cover;
  position: absolute;
  top: 13%;
  left: 105%;
}
.explore-all:hover{
  box-shadow: 0 6px 4px -4px #212121; 
}
.featured-chair{
  margin: 40px 0 150px 70px;
  display: flex;
  flex-wrap: wrap;
}
.featured-chair-img{
  width: 25%;
  position:relative; 
}
.featured-img-text{
  width:83%;
  height: 100%;
  position:absolute;
  left:0;
  bottom:0;
  right:0;
  background:rgba(255, 255, 255, 0.9);
  display:none;
}
.featured-chair-img:hover .featured-img-text{
  display:block;
}
.wrapper-text-chair{
  margin: 33% 0 0 0;
}
.btn2{
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border-radius: 20px 20px 20px 20px;
  background: rgb(255, 255, 255); 
  box-shadow: 0 6px 4px -4px #212121; 
  padding: 10px 20px;
  text-decoration: none;
  position: relative;
  left: 40%;
}
.btn-arow2::after {
  content:"";
  display: block;
  width: 10px;
  height: 15px;
  background-image: url(../img/arrow_205.png);
  background-size: cover;
  position: absolute;
  top: 30%;
  left: 40%;
}
.chair-text1{
  display:block;
  font-size: 22px;
  line-height: 29px;
  font-weight: 700;
  color: #212121;
  text-align: center;
  margin: 20px 0 0 0;
}
.chair-text2{
  display:block;
  font-size: 14px;
  line-height: 21px;
  font-weight: 300;
  color: #6c6c6c;
  text-align: center;
  margin: 0 20px 0 20px;
}
.exclusive{
  display: flex;
  justify-content: space-between;
 }
.exclusive-wrapper-text2{
  display: block;
  padding: 250px 0 250px 50px;
  width:50%;
  background-image: url(../img/promo_img1_148.png);
  background-size: cover;
}
.exclusive-wrapper-text3{
  display: block;
  padding: 250px 0 250px 50px;
  width:50%;
  background-image: url(../img/promo_img_132.png);
  background-size: cover;
}
.main-text-bl{
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color:#1e88e5;
}
.main-text-big2{
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
}
.main-text-com2{
  margin: 0 0 20px 0;
  font-size: 14.1px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;
}
.trending-pr-text{
  margin: 100px 625px 0px 80px;
  font-size: 36px;
  line-height: 1.2;
  font-weight: 700;
  color: #212121;
}
.wrap-trnd-img{
  display: flex;
  flex-wrap: wrap;
  margin: 50px 0 50px 70px;
}
.trnd-pr-img{
  display:block;
  padding: 10px 10px;
  width:100%;
}
.trnd-pr-img:hover{
  box-shadow: 0 6px 4px -4px #212121; 
}
.hot{
  background-image: url(../img/slider_84.png);
  background-size: cover;
}
.wrapper-text-hot{
  padding: 300px 0 100px 70px
}
.main-text-red{
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color:#e53935;
}
.exclusive2{
  display: flex;
  flex-wrap: wrap;
  margin: 120px 0 0 0;
} 
.wraper-ex-text{
  width:43%;
  display: block;
  background-image: url(../img/product_1_lg_66.png);
  background-size: cover;
  margin: 0px 30px 70px 70px;
  padding: 200px 0px 220px 30px;
} 

.wrap-ex-img{
  justify-content: Space-around;
  align-items: Space-around;
  width:43%;
  display: flex;
  flex-wrap: wrap;
  padding:0;
  margin:0;
}
.ex-img{
  margin: 0 20px 0px 0;
  display:block;
}
.ex-img:hover{
  box-shadow: 0 6px 4px -4px #212121; 
}
.mobile{
  background-image: url(../img/back_img_44.png);
  background-size: cover;
  padding: 100px 0 100px 70px;
}

.main-text-grey{
  font-size: 18px;
  line-height: 48px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #6c6c6c;
}
.main-text-com3{
  font-size: 22px;
  line-height: 24px;
  font-weight: 300;
  color: #6c6c6c;

}
.main-text-big3{
  width:40%;
  font-size: 62px;
  line-height: 72px;
  font-weight: 100;
  text-transform: uppercase;
  color: #212121;
 }
.store{
  margin: 30px 0 0 0;
}
.store:hover{
  box-shadow: 0 6px 4px -4px #212121; 
}
.contact{
  display: flex;
  justify-content: space-between;
  padding: 100px 70px 0 70px
}
.wrapper-contact{
  display: block;
  width:20%
}
.contact-text{
  font-size: 14px;
  line-height: 22px;
  font-weight: 300;
  color: #212121;
}
.contact-inf{
  display: block;
  width:40%;
}
.contact-menu{
  padding: 0;
  list-style-type:none;
  position: relative;
  display: inline-block;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #212121;
  margin: 0 75px 0 0;
}
.contact-menu a{
  text-decoration: none;
}
.contact-menu a:hover{
  box-shadow: 0 6px 4px -4px #212121; 
}
.contact-int{
  display: block;
  width:40%;
}
.email{
  display: inline-block;
  position: relative;
  width: 100%;
}
input[type=text] {
  width: 95%;
  margin: 20px 0 0 0;
  box-sizing: border-box;
  padding: 12px 20px;
  background-color: white;
  border-width: 1px;
  border-color: #d9dee1;
  border-style:solid;
}
input[type="submit"] {
  position: absolute;
  top: 30px;
  right: 35px;
  width: 20px; 
  height: 20px; 
  border: none; 
  background: url(../img/fly.png) no-repeat 50% 50%; 
 }
.footer{
  width: 1366px;
  margin: 0 0;
  font-family: 'Montserrat';
  display: flex;
  /* justify-content: space-between; */
  margin: 50px 0px 30px 150px;
}
.footer-copyright{
  display: block;
  font-size: 12px;
  line-height: 26px;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 0.05em;
  color: #6c6c6c;
}
.footer-social{
  display: block;
  margin: 0 185px 0 185px;
}
.footer-social-wrapper{
  display: flex;
  justify-content: space-between;
}
.footer-social-icon{
  width: 28px;
  height: 28px;
  background-image: url(../img/social_links_9.png);
}
.footer-social-icon:hover{
  box-shadow: 0 6px 4px -4px #212121; 
}
.footer-social-icon:nth-child(1){
  background-position: 0px 0px;
}
.footer-social-icon:nth-child(2){
  background-position: -34px 0px;
}
.footer-social-icon:nth-child(3){
  background-position: -68px 0px;
}
.footer-social-icon:nth-child(4){
  background-position: 28px 0px;
}
